<main class="history-container">
  <h2>Mi Historial de Búsqueda</h2>
  <button
    *ngIf="!isLoadingHistory && !historyError && searchHistory.length > 0"
    (click)="onClearHistory()"
    class="clear-history-btn">
    Borrar todo el historial
  </button>
  <div class="results-table-container" *ngIf="!isLoadingHistory && !historyError && searchHistory.length > 0">
  </div>
  <div *ngIf="isLoadingHistory" class="loading-indicator">
    <p>Cargando tu historial...</p>
  </div>
  <div *ngIf="!isLoadingHistory && historyError" class="error-message">
    <p>{{ historyError }}</p>
  </div>
  <div class="results-table-container" *ngIf="!isLoadingHistory && !historyError && searchHistory.length > 0">

    <table class="results-table">
      <thead>
      <tr>
        <th>PRODUCTO</th>
        <th>BÚSQUEDA</th>
        <th>FECHA</th>
        <th>ACCIÓN</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of searchHistory">
        <td class="store-name">{{ item.product }}</td>
        <td class="unit-price-col">
          <span class="unit-price-label">{{ item.quantity }}</span>
          <span class="unit-price-value" style="font-size: 16px; margin-left: 8px;">{{ item.unit }}</span>
        </td>
        <td>{{ item.date | date:'mediumDate' }}</td>
        <td>
          <button (click)="onSearchAgain(item)" class="history-search-btn">
            Volver a buscar
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!isLoadingHistory && !historyError && searchHistory.length === 0" class="no-results">
    <p>Aún no tienes búsquedas en tu historial.</p>
  </div>
  <a routerLink="/" class="back-link">Volver al Inicio</a>
</main>
