<main class="subscription-content">

  <div class="plans-container">
    <div class="plan-card">
      <h3>Plan Pro</h3>
      <p class="price">$$$/mes</p>
      <div class="benefits">
        <ul>
          <li>Consultas ilimitadas diarias</li>
          <li>Historial de consultas NOSEEEE</li>
          <li>Respuestas rápidas y priorizadas</li>
          <li>Acceso completo a todas las funciones</li>
        </ul>
      </div>
      <a routerLink="/payment" class="plan-subscribe-btn">Suscribirse</a>
    </div>

    <div class="plan-card enterprise">
      <h3>Plan Empresarial</h3>
      <p class="price">$$$/mes</p>
      <div class="benefits">
        <ul>
          <li>Todo del Plan Pro</li>
          <li>Visualización de gráficas de productos</li>
          <li>Historial de productos consultados</li>
          <li>Análisis de mercado y tendencias</li>
          <li>Panel de control avanzado</li>
        </ul>
      </div>
      <a routerLink="/payment" class="plan-subscribe-btn">Contactar con ventas</a>
    </div>
  </div>

  <footer class="footer">
    <p>Syntara • Los precios hablan, Syntara escucha. ©</p>
  </footer>
</main>
